__pycache__/
*.pyc
venv/
.env
output/
crawl_log.txt
scrapper/data/
scrapper/get-docker.sh
.vscode/
.idea/

node_modules/
.next/
*.mp3
*.mp4
*.wav
*.m4a
Backend/uploads/
.env.local
__pycache__/
backend/chroma_db/
backend/uploads/
*.db
