fastapi
uvicorn
psycopg2-binary
sqlalchemy
pydantic
pydantic-settings
python-dotenv
httpx
python-multipart
openai-whisper
apscheduler
google-genai
chromadb
sentence-transformers
PyMuPDF
python-docx
pandas
openpyxl
openai
langchain
langchain-openai
tiktoken
python-jose[cryptography]
passlib[bcrypt]
email-validator
aiofiles
requests
bcrypt
alembic

# dev/test only
pytest
pytest-cov
pytest-asyncio
